@tailwind base;
@tailwind components;
@tailwind utilities;

.main-window {
  /* border: 1px solid red; */
  position: relative;
}

.edit-window {
  /* background: slateblue; */
  flex: 1;
}

.add-media {
  background: slateblue;
  flex: 3.05;
  height: 100vh;
}

.video-section {
  height: 100vh;
  /* background: springgreen; */
  flex: 6.95;
}

.video-container {
  border: 1px solid skyblue;
  height: 68%;
  padding: 40px;
}

.video {
  border: 1px solid red;
  height: 100%;
}
